<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalles del Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="cargando" slot="fixed"></ion-spinner>
  
  <div *ngIf="!cargando && libro">
    <ion-card>
      <ion-img *ngIf="libro.portada" [src]="libro.portada" alt="{{ libro.titulo }} portada"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ libro.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Autor: {{ libro.autor }}</p>
        <p>Fecha de estreno: {{ libro.fecha_estreno }}</p>
        <p>Nueva publicación próximamente</p>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
